;----------------------------- INMOOV LIFE CONFIGURATION ----------------------------------------

;wip health check
[HEALTHCHECK]
Activated=False
TimerValue=60000

;ramdom move the head
[MOVEHEADRANDOM]
RobotCanMoveHeadWhileSpeaking=False


[SLEEPMODE]
Activated=False
UsePirToWakeUp=False
UsePirToActivateTracking=False

;Sleep 5 minutes after last presence detected
SleepTimeout=300000

;Turn off tracking 20 seconds after last presence detected
TrackingTimeout=10000
