;----------------------------- WEBGUI CONFIGURATION ----------------------------------------
[MAIN]
isWebGuiActivated=False
;You can disable to speed up system
;WebKitSpeechRecognition activated will override this parameter
;----------------------------------- END --------------------------------------------------


