;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isRightHandActivated=True

[SERVO_MINIMUM_MAP_OUTPUT]
;your servo minimal limits
thumb=20
index=30
majeure=25
ringFinger=20
pinky=20
wrist=135

[SERVO_MAXIMUM_MAP_OUTPUT]
;your servo mmaximal limits
thumb=95
index=127
majeure=175
ringFinger=122
pinky=109
wrist=160

[SERVO_REST_POSITION]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=147




;----------------------------------- ADVANCED CONFIGURATION --------------------------------------------------

[SERVO_INVERTED]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=0

[MINIMUM_MAP_INPUT]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=135

[MAXIMUM_MAP_INPUT]
thumb=180
index=180
majeure=180
ringFinger=180
pinky=180
wrist=160

[MAX_VELOCITY]
thumb=-1
index=-1
majeure=-1
ringFinger=-1
pinky=-1
wrist=-1

[SERVO_PIN]
thumb=2
index=3
majeure=4
ringFinger=5
pinky=6
wrist=7

[SERVO_AUTO_DISABLE]
thumb=True
index=True
majeure=True
ringFinger=True
pinky=True
wrist=True
;----------------------------------- END --------------------------------------------------


